@theme {
    /* Base */
    --color-background_phone: #000000;
    --color-main_paper: #F7F8F9;

    --color-primary_color: #1C7C54;
    --color-secondary_color: #F4B41A;
    --color-accent_color: #E36414;

    --color-text_color: #1E1E1E;
    --color-border_color: #c1c1c1;


    /* Background gradient */
    --profile-defined-gradient: linear-gradient(
            135deg,
            rgba(255, 145, 175, 0.14) 0%,
            rgba(255, 195, 125, 0.11) 40%,
            rgba(102, 217, 178, 0.10) 70%,
            rgba(163, 196, 255, 0.12) 100%
    );

    /* Overlay wash */
    --profile-overlay-wash: linear-gradient(
            rgba(255, 255, 255, 0.06),
            rgba(255, 255, 255, 0.04)
    );

    --cat-food: 227 100 20;
    --cat-culture: 201 162 106;
    --cat-nature: 28 124 84;
    --cat-mystery: 91 43 130;
}
