@layer components {
    .profile-overview-modal-content {
        flex-direction: column;
        inset: calc(var(--spacing) * 0);
        background: rgba(255, 255, 255, 0.15);
        transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .profile-overview-modal-wrapper {
        z-index: 2000;
        position: absolute;
        inset: calc(var(--spacing) * 0);
        backdrop-filter: blur(10px) saturate(110%);
        background: rgba(255, 255, 255, 0.15);
        transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        overflow-x: hidden;
        box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

}