@layer utilities {

    .icon {
        @apply block w-9 h-9;
    }

    .icon-toolbar {
        @apply w-[70px] h-[30px];
    }

    .icon-notification {
        @apply w-8 h-8;
    }

    .icon-mini {
        @apply w-5 h-5;
    }

    .icon-minimini {
        @apply w-4 h-4;
    }

    .header-bookmark-button {
        @apply bg-none border-none cursor-pointer p-0 w-12 h-12
        flex items-center justify-center
        transition-opacity duration-200;
    }

    .header-bookmark-button:hover {
        @apply opacity-75;
    }

    .header-bookmark-button:active {
        @apply scale-95;
    }

    .header-bookmark-button .bookmark-icon {
        @apply w-8 h-8;
    }

    .main-page-background {
        background: var(--profile-defined-gradient);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

}
