.auth-screen {
  @apply h-[940px] flex flex-col items-center overflow-hidden pt-16 pb-16;
}

.auth-header {
  @apply text-center mb-8;
}

.auth-logo {
  @apply mb-0;
}

.auth-logo img {
  @apply w-26 h-26 text-primary_color mx-auto;
}

.auth-title {
  @apply w-auto h-11;
}

.auth-title img {
  @apply w-auto h-11 mx-auto;
}

.auth-subtitle {
  @apply text-center text-sm text-gray-600 mt-2;
}

.auth-form-title {
  @apply text-center text-lg font-semibold mb-1 text-gray-500;
}

.auth-switch {
  @apply flex w-full max-w-sm mb-6 rounded-lg p-1 relative;
}

.auth-switch-btn {
  @apply relative z-10 flex-1 py-3 px-4 rounded-md text-base font-normal transition-colors text-gray-500;
}

.auth-slider {
  @apply absolute top-1/2 left-[1%] w-[48%] h-[90%] rounded-md transition-all duration-300 ease-in-out transform -translate-y-1/2;
}

.auth-slider::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 50px 0 50px;
  height: 4px;
  background: var(--color-primary_color);
  /*bg-primary_color*/
  border-radius: 6px 6px 0 0;
}

.auth-form {
  @apply w-full max-w-sm h-[550px] rounded-lg p-4;
}

.auth-field {
  @apply relative block;
}

.auth-icon {
  @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400;
}

.auth-icon-right {
  @apply absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer;
}

.auth-input {
  @apply w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:border-primary_color;
}

.auth-primary-btn {
  @apply w-full bg-primary_color text-white py-3 rounded-lg font-medium transition;
}

.auth-primary-btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.auth-link {
  @apply text-primary_color text-sm underline -mt-4 self-end;
}

.auth-link-login-to-signup {
  @apply text-primary_color text-sm -mt-1 self-start;
}

.form-container {
  @apply flex flex-col justify-around h-full;
}

.inputs-group-login {
  @apply flex flex-col gap-6 h-[142px] -mt-5;
}

.inputs-group-register {
  @apply flex flex-col gap-4;
}

.button-group {
  @apply flex flex-col items-end gap-3;
}

.divider {
  @apply flex items-center w-full;
}

.divider-line {
  @apply flex-1 border-t border-gray-300;
}

.divider-text {
  @apply px-2 text-sm text-gray-500;
}

.divider-span {
  @apply px-2 bg-white text-gray-500 rounded-2xl;
}

.social-container {
  @apply flex gap-4;
}

.social-btn {
  @apply flex-1 flex items-center text-gray-500 justify-center py-3 rounded-lg transition;
}

.social-icon {
  @apply w-5 h-5 mr-2;
}
