@layer components {

    .map {
        @apply w-full h-[400px];
    }

    .keyboard-overlay {
        top: 130px !important;
    }

    .custom-div-icon img.marker-pop-up {
        width: 64px;    /* stessa di iconSize */
        height: 64px;   /* stessa di iconSize */
        display: block;
        transform: scaleY(0);
        transform-origin: bottom center;
    }

    .custom-div-icon img.marker-pop-up.show {
        animation: squishy-pop 0.5s ease-out forwards;
    }

    @keyframes squishy-pop {
        0% {
            transform: scale(1.2, 0.5); /* inizialmente larga e compressa verticalmente */
            opacity: 0;
        }
        50% {
            transform: scale(0.8, 1.3); /* rimbalzo opposto */
            opacity: 1;
        }
        70% {
            transform: scale(1.1, 0.9); /* piccolo overshoot */
        }
        100% {
            transform: scale(1, 1);     /* dimensione normale */
        }
    }

}
