@layer components {

    .new-spot-map {
        @apply w-full h-[240px];
    }

    .time-range {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .time-block {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .time-block input {
        width: 48px;
        text-align: center;
    }
}