@layer components {
    .carousel-horizontal {
        @apply overflow-visible relative z-10;
    }

    .carousel-horizontal_track {
        @apply flex flex-nowrap gap-4 overflow-x-auto px-4 pb-3;
        @apply snap-x snap-mandatory scroll-smooth;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }

    .carousel-horizontal_track::-webkit-scrollbar { display: none; }

    .carousel-horizontal__item {
        @apply shrink-0 snap-start;
    }
}
