/* per dare priorità la meno alla più:
    base(overrie di tag),
    components,
    utilities */

@layer components {

    .mission-type-btn {
        @apply bg-green-300 flex items-center gap-2 px-4 py-2 rounded-xl text-gray-700 cursor-pointer hover:text-blue-500 transition;
    }

}