/* per dare priorità la meno alla più:
    base(overrie di tag),
    components,
    utilities */

@layer components {

    .mission-type-btn {
        @apply bg-white flex items-center gap-1 px-3 py-2 rounded-xl
        text-gray-700 cursor-pointer hover:text-blue-500 transition;
    }

}