@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

@import "./common/smartphone.css";

@import "./theme.css";

@import "./common/utils.css";

@import "./profile/profile-overview.css";

@import "./homepage/homepage.css";

@import "./community.css";

@import "./homepage/homepage.css";

@import "./homepage/saved-spots.css";

@import "../base/carousels/carousel-horizontal.css";


@import "./common/spot-detail.css";

@import "./homepage/view-all-saved.css";

@import "./map/map.css";

@import "../base/carousels/carousel-vertical.css";

@import "../base/simil-homepage-toprated/simil-toprated.css";

@import "../base/simil-homepage-nearby/simil-nearby.css";

@import "./common/bottom-sheet.css";

@import "./common/bottom-sheet-filters.css";