@import "tailwindcss";

@import "common/smartphone.css";

@import "./theme.css";

@import "common/utils.css";

@import "profile/profile.css";

@import "common/carousel.css";

@import "homepage/homepage.css";

@import "homepage/saved-spots.css";

@import "homepage/nearby-spots.css";

@import "homepage/toprated-spots.css";

@import "common/spot-detail.css";

@import "homepage/view-all-saved.css";
