@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

@import "./smartphone.css";

@import "./common/utils.css";

@import "./common/base.css";

@import "./common/glass.css";

@import "./pages/homepage.css";

@import "./pages/community.css";

@import "./common/carousels.css";

@import "./common/spot-detail.css";

@import "./common/polaroid-detail.css";

@import "./pages/profile.css";

@import "./pages/view-all-reviews.css";

@import "./map/map.css";

@import "./pages/spot-cards.css";

@import "./common/bottom-sheet.css";

@import "./common/bottom-sheet-filters.css";

@import "./common/add-review-modal.css";

@import "./common/add-polaroid-modal.css";

@import "./common/share-polaroid-modal.css";

@import "./map/new-spot.css";

@import "./goals/goals.css";

@import "./pages/login.css";

@import "./common-components/search-bar/keyboard.css";
