@layer components {

    .profile-reward-card {
        @apply
        rounded-2xl
        border
        bg-main_paper
        p-3
        flex
        flex-col
        items-center
        justify-center
        overflow-hidden;
        border-color: var(--color-border_color);
        flex: 0 0 calc(33.333% - 0.5rem);
        aspect-ratio: 1 / 1;
        min-width: 0;
    }

    .profile-reward-card-large {
        @apply
        rounded-2xl
        border
        bg-main_paper
        p-3;
        border-color: var(--color-border_color);
        flex: 0 0 calc(66.666% - 0.5rem);
        min-width: 0;
    }

    /* Email e password */
    .data-container {
        @apply
        flex
        items-start
        gap-3
        w-full
        mb-4;
    }

    .data-label {
        @apply
        text-xs
        font-medium
        pb-1
        text-text_color;
    }

    .data-text {
        @apply
        text-xs
        text-text_color
        pb-1
        border-b
        border-border_color;
    }

    /* Badges */
    .profile-badge-icon {
        @apply
        w-8
        h-8
        mb-2;
    }

    /* Icone nei badge */
    .profile-badge-icon {
        @apply w-9 h-9;
    }

    .profile-number-badge {
        @apply
        text-2xl
        font-semibold
        text-text_color;
    }

    .profile-text-badge {
        @apply
        text-xs
        text-text_color
        text-center;
    }

    .profile-level-large-badge {
        @apply
        text-xl
        font-semibold
        text-text_color;
    }

    .profile-text-large-badge {
        @apply
        text-xs
        text-text_color;
    }

}
