@layer components {
    .phone-container {
        @apply min-h-screen
        flex
        items-center
        justify-center;
        background-color: var(--color-background-phone);
    }

    .phone {
        @apply relative
        w-[430px] h-[932px]
        p-2
        rounded-[40px]
        shadow-[0_24px_60px_rgba(0,0,0,0.8)];
        background: linear-gradient(to bottom right, #1f2933, #020617);
    }

    .phone-border {
        @apply pointer-events-none
        absolute inset-0
        rounded-[40px];
        border: 1px solid var(--color-border);
    }

    .phone-screen {
        @apply relative
        flex h-full flex-col
        overflow-hidden
        rounded-4xl;
        background-color: var(--color-spot-paper);
        color: var(--color-text);
    }

    .dynamic-island {
        @apply absolute
        left-1/2 -translate-x-1/2
        top-2
        h-[35px] w-[120px]
        rounded-[18px]
        z-10;
        background-color: #020617;
        box-shadow: 0 0 0 2px #020617;
    }

    .spot-main {
        @apply flex-1
        overflow-y-auto
        px-3 py-1;
    }
}
