@layer components {
    .phone-container {
        @apply min-h-screen
        bg-backgroundColor
        flex
        items-center
        justify-center;
    }

    .phone {
        @apply relative
        w-[430px] h-[932px]
        p-2
        rounded-[40px]
        bg-linear-to-br from-slate-800 to-slate-950
        shadow-[0_24px_60px_rgba(0,0,0,0.8)];
    }

    .phone-border {
        @apply pointer-events-none
        absolute inset-0
        rounded-[40px]
        border border-slate-300/40;
    }

    .phone-screen {
        @apply relative
        flex h-full flex-col
        overflow-hidden
        rounded-4xl
        bg-spotPaper
        text-slate-50;
    }

    .dynamic-island {
        @apply absolute
        left-1/2 -translate-x-1/2
        top-2
        h-[35px] w-[120px]
        rounded-[18px]
        bg-slate-950
        shadow-[0_0_0_2px_#020617]
        z-10;
    }

    .spot-main {
        @apply flex-1
        overflow-y-auto
        px-3 py-1;
    }
}
