@layer base {
    :root {
        --color-background-phone: #000000;
        --color-spot-paper: #F5F2EB;

        --color-primary: #1C7C54;
        --color-secondary: #F4B41A;
        --color-accent: #E36414;

        --color-text: #1E1E1E;
        --color-border: #C5CAD1;
    }
}
