@theme {
    --color-background_phone: #000000;
    --color-main_paper: #F5F2EB;

    --color-primary_color: #1C7C54;
    --color-secondary_color: #F4B41A;
    --color-accent_color: #E36414;

    --color-text_color: #1E1E1E;
    --color-border_color: #C5CAD1;
}
