@layer utilities {

    .icon {
        @apply block
        w-9 h-9;
    }

    .icon-toolbar {
        @apply w-[70px] h-[30px];
    }

    .icon-notification {
        @apply w-8 h-8
    }

    .icon-mini {
        @apply w-5 h-5
    }

    .spot-card {
        @apply w-full
        h-auto
        border
        rounded-lg
        border-border_color;
    }
}
