@layer components {

    .toprated-carousel {
        @apply h-70 overflow-hidden;
        border-radius: 18px;
    }

    .toprated-carousel > .vertical-carousel-track {
        @apply h-full flex flex-col gap-4 p-2 overflow-y-auto scroll-smooth;
        touch-action: pan-y;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .toprated-carousel > .vertical-carousel-track::-webkit-scrollbar {
        display: none;
    }

}
